@import url('https://fonts.googleapis.com/css?family=Itim|Jaldi:400,700&display=swap');

*, *::before, *::after {

    box-sizing: border-box;

}

body {

    margin: 0;

    padding: 0;

    min-height: 100vh;

    min-width: 100vw;

    overflow: hidden;

    background: url("./Images/Background\ Image.png");

    color: #FFF;

    font-family: Itim, sans-serif;

    font-size: 1.2rem;

}

.navbar {

    display: flex;

    height: 7vh;

    background: #222D29;

    padding-left: 0.5rem;

    align-items: center;

}

.aperture-logo {

    display: flex;

    align-items: center;

    color: inherit;

    font-family: Jaldi, sans-serif;

    font-size: 1.25em;

    text-decoration: none;

}

.aperture-name {

    margin-left: 1rem;

    font-size: 1.5rem;

}

main {

    display: flex;

    height: 75vh;

    width: 100vw;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

}

.title {

    font-size: 2.5em;

}

.subtitle {

    font-size: 1.25rem;

}

.badge {

    display: flex;

    height: 5vh;

    width: 10vw;

    background: #00AAFF;

    border-radius: 10px;

    flex-direction: column;

    justify-content: center;

}